Repository triton-lang/triton: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, autopep8, clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-ast
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: detect-private-key
      - id: debug-statements
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        files: "python/.*"
        exclude: "python/build/.*"
        language: python
        types: [python]
        additional_dependencies:
          - isort==5.10.1

      - id: autopep8
        name: autopep8
        entry: autopep8
        args: ["-a", "-r", "-i"]
        files: "python/.*"
        exclude: "python/build/.*"
        language: python
        types: [python]
        additional_dependencies:
          - autopep8==1.6.0

      - id: clang-format
        name: clang-format
        entry: python -m clang_format
        args:
          [
            "-regex",
            ".*\\.(cpp|hpp|h|cc)",
            "-not",
            "-path",
            "./python/triton/*",
            "-not",
            "-path",
            "./python/build/*",
            "-not",
            "-path",
            "./include/triton/external/*",
            "-i",
          ]
        language: python
        types: [c, c++]
        additional_dependencies:
          - clang-format==14.0.6
exclude: |
  (?x)(
    ^include/triton/external/|
    ^python/triton/third_party/
  )

[CI] run `pre-commit` to fix tailing spaces and end-of-file
  .github/workflows/integration-tests.yml
  .github/workflows/torchinductor/scripts/install_torchinductor.sh
  .github/workflows/wheels.yml
  .gitignore
  CONTRIBUTING.md
  LICENSE
  cmake/FindLLVM.cmake
  docs/Makefile
  docs/_templates/versions.html
  docs/conf.py
  docs/getting-started/installation.rst
  docs/index.rst
  docs/programming-guide/chapter-2/related-work.rst
  include/triton/CMakeLists.txt
  include/triton/Dialect/Triton/IR/TritonInterfaces.td
  include/triton/Dialect/TritonGPU/IR/TritonGPUAttrDefs.td
  include/triton/Dialect/TritonGPU/IR/TritonGPUDialect.td
  include/triton/Dialect/TritonGPU/IR/TritonGPUOps.td
  lib/Conversion/TritonGPUToLLVM/ConvertLayoutOpToLLVM/SharedToDotOperandFMA.cpp
  lib/Conversion/TritonGPUToLLVM/ConvertLayoutOpToLLVM/SharedToDotOperandMMAv1.cpp
  lib/Conversion/TritonGPUToLLVM/ConvertLayoutOpToLLVM/SharedToDotOperandMMAv2.cpp
  lib/Conversion/TritonGPUToLLVM/DotOpToLLVM/FMA.cpp
  lib/Conversion/TritonGPUToLLVM/DotOpToLLVM/MMAv1.cpp
  lib/Conversion/TritonGPUToLLVM/DotOpToLLVM/MMAv2.cpp
  lib/Conversion/TritonGPUToLLVM/ReduceOpToLLVM.h
  lib/Conversion/TritonGPUToLLVM/TypeConverter.cpp
  lib/Dialect/Triton/IR/Dialect.cpp
  python/MANIFEST.in
  test/Analysis/test-membar.mlir
  test/Triton/combine.mlir
  test/TritonGPU/coalesce.mlir
  test/TritonGPU/combine.mlir
  test/TritonGPU/loop-pipeline.mlir
  test/lib/Analysis/CMakeLists.txt
  test/lib/CMakeLists.txt
Due: clang-format

[CI] update `pre-commit` hooks: isort, autopep8, clang-format
  .pre-commit-config.yaml
Due: none

[CI] add `flake8` to `pre-commit` hook
  .flake8
  .pre-commit-config.yaml
Due: none

[CI] run `pre-commit` to format code
  .github/workflows/torchinductor/scripts/check_acc.py
  .github/workflows/torchinductor/scripts/check_perf.py
  docs/conf.py
  python/examples/copy_strided.py
  python/test/regression/test_performance.py
  python/test/unit/language/test_core.py
  python/test/unit/language/test_random.py
  python/test/unit/language/test_subprocess.py
  python/test/unit/operators/test_blocksparse.py
  python/test/unit/operators/test_matmul.py
  python/test/unit/runtime/test_cache.py
  python/triton/language/core.py
  python/triton/language/extern.py
  python/triton/language/semantic.py
  python/triton/ops/blocksparse/softmax.py
  python/triton/ops/cross_entropy.py
  python/triton/ops/matmul.py
  python/triton/tools/aot.py
  python/triton/tools/disasm.py
  python/tutorials/02-fused-softmax.py
  python/tutorials/03-matrix-multiplication.py
  python/tutorials/06-fused-attention.py
  test/lit.cfg.py
Due: isort, autopep8

[CI] run `pre-commit` to lint code
  python/test/regression/test_performance.py
  python/test/unit/language/test_random.py
  python/test/unit/operators/test_blocksparse.py
  python/triton/language/semantic.py
  python/triton/ops/cross_entropy.py
  python/triton/ops/matmul.py
  python/tutorials/02-fused-softmax.py
  python/tutorials/03-matrix-multiplication.py
  python/tutorials/06-fused-attention.py
Due: isort, autopep8

[TEST] use `pre-commit` for style tests
  .github/workflows/integration-tests.yml
Due: none

[CI] restore previous pre-commit hook dependency versions
  .pre-commit-config.yaml
Due: none

[CI] add notes for `flake8` plugins
  .pre-commit-config.yaml
Due: none

[FORMAT] autopep8 now uses max-line-length=88
  .pre-commit-config.yaml
  python/examples/copy_strided.py
  python/test/regression/test_performance.py
  python/test/unit/language/test_core.py
  python/test/unit/language/test_random.py
  python/test/unit/language/test_subprocess.py
  python/test/unit/operators/test_blocksparse.py
  python/test/unit/operators/test_matmul.py
  python/test/unit/runtime/test_cache.py
  python/triton/language/core.py
  python/triton/language/extern.py
  python/triton/language/semantic.py
  python/triton/ops/blocksparse/softmax.py
  python/triton/ops/cross_entropy.py
  python/triton/ops/matmul.py
  python/triton/tools/aot.py
  python/triton/tools/disasm.py
  python/tutorials/02-fused-softmax.py
  python/tutorials/03-matrix-multiplication.py
  python/tutorials/06-fused-attention.py
Due: isort, autopep8

[FORMAT] autopep8 now uses max-line-length=88 (#1410)
  .pre-commit-config.yaml
  python/examples/copy_strided.py
  python/test/regression/test_performance.py
  python/test/unit/language/test_core.py
  python/test/unit/language/test_random.py
  python/test/unit/language/test_subprocess.py
  python/test/unit/operators/test_blocksparse.py
  python/test/unit/operators/test_matmul.py
  python/test/unit/runtime/test_cache.py
  python/triton/language/core.py
  python/triton/language/extern.py
  python/triton/language/semantic.py
  python/triton/ops/blocksparse/softmax.py
  python/triton/ops/cross_entropy.py
  python/triton/ops/matmul.py
  python/triton/tools/aot.py
  python/triton/tools/disasm.py
  python/tutorials/02-fused-softmax.py
  python/tutorials/03-matrix-multiplication.py
  python/tutorials/06-fused-attention.py
Due: isort, autopep8

Better type definition
  include/triton/Dialect/Triton/IR/TritonOps.td
  include/triton/Dialect/Triton/IR/TritonTypes.td
Due: none

Change `tensorShape` type into `int32_t`
  include/triton/Dialect/Triton/IR/TritonOps.td
  lib/Dialect/Triton/IR/Ops.cpp
  python/src/triton.cc
  python/triton/language/semantic.py
Due: isort, autopep8

.
  lib/Dialect/TritonGPU/Transforms/OptimizeDotOperands.cpp
Due: none

Support `tl.int1` for block pointers
  lib/Dialect/Triton/Transforms/RewriteTensorPointer.cpp
  python/test/unit/language/test_block_pointer.py
  python/triton/language/semantic.py
Due: isort, autopep8

[TEST] run tests in a new isolated virtual environment
  .github/workflows/integration-tests.yml
Due: none

[TEST] simplify environment variable passing in tests
  .github/workflows/integration-tests.yml
Due: none

[BUILD] bump minimum cmake version to 3.20
  CMakeLists.txt
  python/setup.py
Due: isort, autopep8

[FORMAT] replace `autopep8` with `black`
  .pre-commit-config.yaml
  CONTRIBUTING.md
  python/setup.py
  python/triton/tools/build_extern.py
Due: isort, autopep8

Add tests for padding
  lib/Dialect/Triton/Transforms/RewriteTensorPointer.cpp
  python/test/unit/language/test_block_pointer.py
Due: isort, autopep8

[TEST] add missing variable name `PATH`
  .github/workflows/integration-tests.yml
Due: none

[CI] update flake8 and isort config
  .flake8
  .isort.cfg
Due: none

[FORMAT] replace `lambda` functions with local `def`s
  python/test/regression/test_performance.py
  python/test/unit/operators/test_blocksparse.py
  python/triton/compiler.py
  python/triton/ops/blocksparse/matmul.py
  python/triton/ops/cross_entropy.py
  python/triton/ops/matmul.py
  python/triton/testing.py
  python/tutorials/01-vector-add.py
  python/tutorials/02-fused-softmax.py
  python/tutorials/03-matrix-multiplication.py
  python/tutorials/04-low-memory-dropout.py
  python/tutorials/05-layer-norm.py
  python/tutorials/06-fused-attention.py
Due: isort, autopep8

[FORMAT] increase line-length to 100
  .flake8
  .isort.cfg
  .pre-commit-config.yaml
Due: none

[FORMAT] normalize string quotes
  .github/workflows/torchinductor/scripts/check_perf.py
  docs/conf.py
  python/setup.py
  python/test/regression/test_performance.py
  python/test/unit/language/assert_helper.py
  python/test/unit/language/print_helper.py
  python/test/unit/language/test_core.py
  python/test/unit/language/test_random.py
  python/test/unit/operators/test_cross_entropy.py
  python/test/unit/operators/test_flash_attention.py
  python/test/unit/operators/test_inductor.py
  python/test/unit/operators/test_matmul.py
  python/test/unit/runtime/test_cache.py
  python/test/unit/runtime/test_launch.py
  python/triton/__init__.py
  python/triton/compiler.py
  python/triton/language/core.py
  python/triton/language/extern.py
  python/triton/language/semantic.py
  python/triton/ops/blocksparse/matmul.py
  python/triton/ops/cross_entropy.py
  python/triton/ops/matmul.py
  python/triton/ops/matmul_perf_model.py
  python/triton/runtime/autotuner.py
  python/triton/runtime/jit.py
  python/triton/testing.py
  python/triton/tools/aot.py
  python/triton/tools/build_extern.py
  python/triton/tools/disasm.py
  python/triton/utils.py
  python/tutorials/01-vector-add.py
  python/tutorials/02-fused-softmax.py
  python/tutorials/03-matrix-multiplication.py
  python/tutorials/04-low-memory-dropout.py
  python/tutorials/05-layer-norm.py
  python/tutorials/06-fused-attention.py
  test/lit.cfg.py
Due: isort, autopep8

[FORMAT] fix `flake8` violations
  python/tutorials/05-layer-norm.py
Due: isort, autopep8

[FORMAT] rewrite more string concatination with f-strings
  python/setup.py
  python/test/regression/test_performance.py
  python/triton/compiler.py
  python/triton/language/semantic.py
  python/triton/runtime/jit.py
  python/triton/testing.py
  python/triton/tools/aot.py
  python/triton/tools/build_extern.py
Due: isort, autopep8

[FRONTEND] generate stub files for `triton._C.libtriton`
  python/triton/_C/libtriton/triton/__init__.pyi
  python/triton/_C/libtriton/triton/ir.pyi
  python/triton/_C/libtriton/triton/runtime.pyi
Due: none

Separate `load/store` implements
  python/triton/language/semantic.py
Due: isort, autopep8

[FRONTEND] use `IntEnum` and populate values
  python/triton/_C/libtriton/triton/ir.pyi
  python/triton/_C/libtriton/triton/runtime.pyi
Due: none

Add a note for I32/I64
  include/triton/Dialect/Triton/IR/TritonOps.td
Due: none

Add files via upload
  main.htm
Due: none

Now always using i32 for dot operand when parent is mmav2
  lib/Conversion/TritonGPUToLLVM/ConvertLayoutOpToLLVM/SharedToDotOperandMMAv2.cpp
  lib/Conversion/TritonGPUToLLVM/TypeConverter.cpp
Due: none

.
  lib/Conversion/TritonGPUToLLVM/TypeConverter.cpp
Due: none

.
  lib/Conversion/TritonGPUToLLVM/ElementwiseOpToLLVM.cpp
Due: none

.
  lib/Conversion/TritonGPUToLLVM/ElementwiseOpToLLVM.cpp
  python/tutorials/03-matrix-multiplication.py
Due: isort, autopep8
